@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.listTeams {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;

  & > h2 {
    width: 100%;
    max-width: 280px;
    font-weight: 600;
    font-size: rem(28px);
    line-height: 130%;
    color: color(text, primary);
    margin-top: 24px;
    margin-bottom: rem(8px);

    @include respond-to('md') {
      max-width: none;
      font-size: rem(40px);
    }
  }

  & > p {
    font-weight: 400;
    font-size: rem(18px);
    line-height: 130%;
    color: color(neutrals, 004);
    margin-bottom: 60px;

    @include respond-to('md') {
      font-size: rem(20px);
    }
  }

  .contentStatus {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include respond-to('md') {
      padding-right: 100px;
    }

    .headStatus {
      width: 100%;
      height: 48px;
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 rem(24px);

      span {
        font-weight: 500;
        font-size: rem(20px);
        line-height: 130%;
        color: color(text, primary);

        @include respond-to('md') {
          &:nth-child(1) {
            width: 50%;
          }
          &:nth-child(2) {
            width: 25%;
          }
          &:nth-child(3) {
            width: 25%;
          }
        }
      }

      @include respond-to('md') {
        display: flex;
      }
    }

    .bodyStatus {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }
}
