@use 'styles/abstracts/breakpoints' as *;
@use 'styles/abstracts/functions' as *;

.buttons-group {
  display: flex;
  gap: rem(8px);
  padding: rem(16px) 0;
  flex-direction: column;

  & > span {
    font-weight: 700;
    font-size: rem(16px);
    line-height: 130%;
  }

  & > p {
    font-weight: 700;
    font-size: rem(16px);
    line-height: 130%;
    color: color(neutrals, 004);
    margin-bottom: rem(24px);
  }

  & > span,
  & > p {
    @include respond-to('md') {
      display: none;
    }
  }
  a {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: rem(1.5px) solid color(pallete, primary);
    border-radius: rem(999px);

    font-weight: 600;
    color: color(text, primary);
    text-decoration: none;
    padding: 0 rem(20px);

    &.login {
      background-color: color(pallete, primary);
      color: color(background, primary);
    }

    @include respond-to('md') {
      height: 60px;
      width: fit-content;
    }
  }

  @include respond-to('md') {
    padding: 0;
    flex-direction: row;
  }
}
