.header {
  padding: 40px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  max-width: 1065px;
  
  margin: 0 auto;
}

.heading {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
  }
  
  &__subtitle {
    font-size: 20px;
    color: #979797;
    line-height: 130%;
  }
}
