@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;

  width: 100%;
  height: rem(70px);

  transition:
    background-color 0.6s ease,
    box-shadow 0.6s ease;

  &Transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &Scrolled {
    background: color(background, tertiary);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }

  @include respond-to('md') {
    height: rem(100px);
  }
}
