@use 'styles/abstracts/functions' as *;

.text-field {
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  &__label {
    font-size: rem(16px);
    font-weight: 400;
    color: color(text, primary);
  }

  &__eye {
    height: 24px;
    width: 24px;
    border: none;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid #28272c;
    font-size: 1rem;
    height: 54px;
    color: color(text, primary);
    background-color: #28272c;
    outline: none;
    &:focus {
      border-color: color(neutrals, white);
    }
    &::placeholder {
      color: color(neutrals, 004);
      font-weight: 400;
    }
  }

  &__toggle-password {
    position: absolute;
    right: rem(16px);
    background: none;
    border: none;
    color: color(neutrals, white);
    cursor: pointer;
    font-size: rem(16px);
  }

  &--error &__input {
    border: 1px solid color(accent, danger);
    color: color(accent, danger);
  }

  &--error &__eye {
    fill: color(accent, danger);
  }

  &__error {
    color: color(accent, danger);
    font-size: 0.875rem;
  }
}
