@use '../../../../../../styles/abstracts/functions' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: rem(24px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: rem(16px);
}
