@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.teamItem {
  width: 100%;
  display: flex;
  flex-direction: column;

  border-radius: rem(16px);
  background-color: color(background, tertiary);
  transition: 0.175s linear;
  position: relative;
  transition: 250ms linear;
  padding: 16px;

  & + li {
    margin-top: 12px;
  }

  @include respond-to('md') {
    padding: rem(24px);
    background-color: transparent;
    height: 80px;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: color(background, tertiary);
    }

    & + li {
      margin-top: 0;
    }

    &.itemFullVisible {
      height: fit-content !important;
    }
  }

  .contentVisible {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include respond-to('md') {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    p {
      width: 100%;
      max-width: 180px;
      flex-direction: column;
      display: flex;
      font-weight: 600;
      font-size: rem(18px);
      line-height: 130%;
      color: color(text, primary);
      margin-bottom: 24px;

      & > span {
        display: none;

        @include respond-to('md') {
          display: block;
        }
      }

      @include respond-to('md') {
        gap: 8px;
        align-items: center;
        width: 50%;
        max-width: none;
        flex-direction: row;
        margin-bottom: 0;
        white-space: nowrap;
      }
    }

    div {
      @include respond-to('md') {
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 25%;
        }
      }
    }

    .category {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 130%;
      color: color(neutrals, 004);

      @include respond-to('md') {
        align-items: center;
        justify-content: center;
        border-radius: 999px;
        padding: 0 16px;
        height: 37px;
        width: fit-content;
        background-color: color(neutrals, 003);
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: color(text, primary);
      }

      & > span {
        color: color(pallete, primary);
      }
    }
    .statusItem {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .contentIcon {
        display: none;
        cursor: pointer;
        position: relative;

        @include respond-to('md') {
          display: flex;
        }

        &.visible {
          svg {
            transform: rotateZ(180deg);
          }
        }

        svg {
          transition: 150ms linear;
        }
      }
    }

    .status {
      width: fit-content;
      height: 37px;
      border-radius: 999px;
      padding: 0 32px;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: color(text, primary);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 28px;
      right: 16px;

      @include respond-to('md') {
        position: unset;
      }
    }

    .pending {
      background-color: color(neutrals, yellow-100);
    }
    .paid {
      background-color: color(neutrals, green-100);
    }
    .cancelled {
      background-color: color(accent, danger);
    }
  }
}

.contentHiden {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 64px;
  margin-top: 32px;

  @include respond-to('md') {
    flex-direction: row;
  }

  .player01,
  .player02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    border: 1px solid color(text, primary);
    padding: 12px;

    @include respond-to('md') {
      width: 400px;
    }
  }
}
