@use 'styles/abstracts/breakpoints' as *;
@use 'styles/abstracts/functions' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: color(background, primary);
  z-index: 1000;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 32px;
}

.menuClose {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(16px) 0;
}

.nav {
  flex: 1;

  ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.close {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
}
