@use 'styles/abstracts/functions' as *;

.tooltip {
  background: rgba(0,0,0,.9);
  color: color(neutrals, white);
  padding: rem(8px) rem(10px);
  border-radius: rem(8px);
  font-size: rem(12px);
  line-height: 1.2;
  max-width: rem(260px);
  box-shadow: 0 6px 24px rgba(0,0,0,.35);
  border: 1px solid rgba(255,255,255,.08);
}

.arrow {
  fill: rgba(0,0,0,.9);
}
