@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.footer-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: rem(48px);
  padding: 100px 16px 32px;

  &__newsletter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .box-infoContact {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(24px);

      .box-item {
        display: flex;
        align-items: flex-start;
        gap: rem(16px);

        & > svg {
          fill: color(text, primary);
        }

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          color: color(text, secondary);
        }

        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          color: color(text, primary);
        }
      }
    }

    .box-newsletter {
      & > h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 8px;
        color: color(text, primary);
      }

      & > p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 16px;
        color: color(text, secondary);
      }

      .form-newsletter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(24px);

        .text-field {
          width: 100%;
        }
      }
    }
  }

  &__list-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: rem(32px);

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(16px);
      list-style: none;

      span {
        font-weight: 700;
        font-size: 16px;
        color: color(pallete, primary);
        line-height: 130%;
      }

      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: color(text, primary);
      }
    }
  }

  &__copyright-web {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;

    .copyright-midia {
      display: flex;
      align-items: center;
      gap: rem(24px);

      & > span {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: color(text, primary);
      }

      & > ul {
        display: flex;
        align-items: center;
        gap: rem(8px);
        list-style: none;
      }
    }

    .copyright-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: color(text, primary);
    }
  }

  &__copyright-mob {
    display: flex;
    flex-direction: column;

    .box-copy {
      margin-bottom: 40px;

      .copyright-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: color(neutrals, 004);
        text-align: left;
      }
    }

    .box-item {
      min-height: 82px;
      display: flex;
      align-items: flex-start;
      gap: rem(16px);
      padding: 16px;
      background-color: color(neutrals, 003);
      border-radius: 12px;

      & + .box-item {
        margin-top: 8px;
      }

      & > svg {
        fill: color(text, primary);
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;

        color: color(text, secondary);
      }

      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;

        color: color(text, primary);
      }
    }
  }

  @include respond-to('md') {
    padding: 100px 16px;

    gap: rem(64px);

    &__newsletter {
      padding: rem(48px);
      border-radius: 16px;
      background-color: color(neutrals, 003);

      .box-infoContact {
        display: flex;

        & > h3 {
          font-weight: 600;
          font-size: 28px;
        }

        & > p {
          font-weight: 400;
          font-size: 20px;
          color: color(text, secondary);
          margin-bottom: 24px;
        }
      }
    }

    &__list-links {
      gap: rem(100px);
      flex-direction: row;

      ul {
        span {
          color: color(text, primary);
          font-size: 20px;
        }
      }
    }
    &__copyright-web {
      display: flex;
    }
    &__copyright-mob {
      display: none;
    }
  }
}
