@use '../../../../styles/abstracts/functions' as *;

.card {
  width: 100%;
  max-width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: rem(24px);

  width: 100%;

  border-radius: 1rem;

  background-color: #7f7f7f1a;

  &__header {
    display: flex;
    gap: rem(8px);
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
  }
}

%badge-base {
  padding: rem(8px) rem(16px);
  border-radius: rem(20px);
  color: color(background, primary);
}

.badge {
  @extend %badge-base;
  background-color: color(text, 'secondary');

  &--success {
    @extend %badge-base;
    background-color: color(accent, 'success');
  }

  &--white {
    @extend %badge-base;
    background-color: color(text, 'primary');
  }
}

.button__container {
  padding-inline: 1.5rem;
}

.card__description {
  font-weight: 200;
  font-size: small;
  color: color(neutrals, 004);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
