@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.step-tab {
  width: fit-content;
  display: flex;
  align-items: center;
  list-style: none;
  margin: rem(32px) auto;
  gap: rem(64px);

  li {
    width: 136px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: transparent;
    border: 1.5px solid color(text, secondary);
    color: color(text, primary);
    font-family: Figtree;
    font-weight: 600;
    font-size: rem(16px);
    line-height: 130%;
    text-align: center;
    cursor: pointer;
    position: relative;

    & + li {
      &::before {
        content: '';
        height: 1.5px;
        width: rem(64px);
        background-color: color(text, secondary);
        position: absolute;
        top: 50%;
        translate: transformY(-50%);
        left: -64px;
      }
    }
  }

  &__active {
    background-color: color(pallete, tertiary) !important  ;
    border: 1.5px solid color(pallete, tertiary) !important ;
  }
}

// ---- mobile

.step-mobile {
  width: 100%;
  padding: rem(24px) rem(16px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(24px);

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(pallete, primary);
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    gap: rem(4px);

    p {
      font-weight: 400;
      font-size: rem(16px);
      line-height: 130%;
      color: color(neutrals, 004);

      &:first-child {
        text-transform: uppercase;
      }
    }
    span {
      font-weight: 400;
      font-size: rem(16px);
      line-height: 130%;
      color: color(text, primary);
    }
  }
}
