@use 'styles/abstracts/breakpoints' as *;
@use 'styles/abstracts/functions' as *;

.header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 700;
  transition:
    background-color 0.6s ease,
    box-shadow 0.6s ease;

  &Transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &Scrolled {
    background-color: color(background, primary);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }

  &__wrapper {
    width: 100%;
    max-width: rem(1400px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 rem(16px);

    &__navbar-container {
      display: flex;
      align-items: center;
      gap: rem(16px);
    }

    @include respond-to('md') {
      height: 120px;
      gap: rem(16px);
    }
  }

  &__desktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: rem(16px);

    width: rem(72px);
    height: rem(72px);

    border-radius: 100%;
    background-color: color(neutrals, gray-003);
  }
}
