@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.payment {
  width: 100%;
  max-width: 1400px !important;
  margin: 0 auto;
  display: flex;
  gap: rem(16px);
  padding: 0 rem(16px);

  flex-direction: column;

  @include respond-to('md') {
    flex-direction: row;
    align-items: flex-start;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rem(16px);
  }

  &__selectedCategory {
    border-radius: rem(16px);

    @include respond-to('md') {
      padding: rem(24px);
      background-color: color(background, tertiary);
    }
  }

  &__selectedCategory-title {
    font-weight: 600;
    font-size: (24px);
    line-height: 130%;
    color: color(text, primary);
    margin-bottom: rem(8px);

    @include respond-to('md') {
      font-size: (18px);
    }
  }

  &__selectedCategory-subtitle {
    font-weight: 400;
    font-size: rem(18px);
    line-height: 130%;
    color: color(neutrals, 004);
    margin-bottom: rem(24px);
    @include respond-to('md') {
      font-weight: 600;
      font-size: rem(16px);
    }
  }

  &__contentCategory {
    width: 100%;
    border-radius: rem(8px);
    padding: rem(16px) rem(24px);
    background-color: color(neutrals, 05);
    display: flex;
    gap: rem(16px);
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: rem(24px);

    & > img {
      width: 72px;
      height: 60px;
      border-radius: 16px;

      @include respond-to('md') {
        width: 120px;
        height: 100px;
      }
    }

    & > div {
      flex: 1;
    }
  }

  &__tournamentName {
    font-weight: 700;
    font-size: rem(16px);
    line-height: 130%;
    color: color(text, primary);
    margin-bottom: rem(8px);

    @include respond-to('md') {
      font-weight: 600;
      font-size: (24px);
    }
  }

  &__contentCategory-info {
    @include respond-to('md') {
      margin-bottom: rem(12px);
    }
  }

  &__tournamentCategory {
    margin-right: rem(30px);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -18px;
      height: 3px;
      width: 3px;
      border-radius: 50%;
      background: color(neutrals, 004);
    }
  }

  &__tournamentAmount,
  &__tournamentCategory {
    font-weight: 400;
    font-size: rem(16px);
    line-height: 130%;
    color: color(neutrals, 004);

    @include respond-to('md') {
      font-size: (18px);
    }
  }

  .viewDuos {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: color(pallete, primary);
  }

  &__your-duo {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: color(text, primary);
    margin: rem(12px) 0 rem(8px);
  }

  &__contentDuo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(100px);

    & > div {
      display: flex;
      align-items: center;
      gap: rem(16px);
      justify-content: flex-start;

      & > img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      & > span {
        font-weight: 500;
        font-size: rem(18px);
        line-height: 130%;
        color: color(text, primary);
        white-space: nowrap;
      }
    }
  }

  &__options {
    border-radius: rem(16px);

    & > h4 {
      font-weight: 600;
      font-size: (20px);
      line-height: 130%;
      color: color(text, primary);
      margin-bottom: rem(8px);

      @include respond-to('md') {
        font-size: (18px);
      }
    }

    & > p {
      font-weight: 600;
      font-size: rem(18px);
      line-height: 130%;
      color: color(neutrals, 004);
      margin-bottom: rem(24px);
    }

    @include respond-to('md') {
      padding: rem(24px);
      background-color: color(background, tertiary);
    }
  }

  &__options-methods {
    width: 100%;
    display: flex;
    gap: rem(16px);

    .contentBuyOption {
      width: 50%;
      height: 159px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      cursor: pointer;
      padding: rem(24px);
      background-color: color(neutrals, 002);
      border-radius: rem(16px);

      & > span {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;

        color: color(text, primary);
      }
    }
  }

  .optionRadio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(16px);
  }

  .method {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(24px);

    &Content {
      width: 100%;
      display: flex;
      align-items: center;
      gap: rem(16px);

      & label {
        width: 100%;
        max-width: 391px;
      }
    }

    &Action {
      width: 100%;
      .optionContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(24px);

        & > .text-field {
          flex: 1;
        }
      }
    }
  }

  &__resume {
    width: 100%;
    height: fit-content;
    padding: 0;

    & > h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      color: color(text, primary);
      margin-bottom: rem(24px);
    }

    .orderPayment {
      display: flex;
      flex-direction: column;
      gap: rem(24px);
      list-style: none;
      margin-bottom: rem(48px);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: rem(-24px);
        left: 0;
        right: 0;
        height: 1px;
        background: color(text, primary);
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-weight: 400;
          font-size: rem(18px);
          line-height: 130%;
          color: color(neutrals, 004);
        }
      }
    }

    .totalAmount {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: color(text, primary);
      }
    }

    .contentButtons {
      display: flex;
      flex-direction: column;
      gap: rem(16px);

      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      background-color: color(background, primary);
      padding: rem(24px) rem(16px);
      z-index: 999;

      @include respond-to('md') {
        margin-top: rem(24px);
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
        height: fit-content;
        z-index: initial;
        padding: 0;
        background-color: transparent;
      }
    }

    @include respond-to('md') {
      width: 30%;
      min-width: 350px;
      padding: rem(32px) rem(24px);
      border-radius: rem(16px);
      background-color: color(background, tertiary);
    }
  }

  .contentHint {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);
  }
  .hint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    border: 1.5px solid currentColor;
    font-size: rem(14px) !important;
    // line-height: 1;
    opacity: 0.6;
    cursor: default;
  }
}

.contentBodyModal {
  width: 100%;
  height: 100%;
  position: relative;

  & > h1 {
    font-weight: 600;
    font-size: rem(24px);
    line-height: 130%;
    color: color(text, primary);
    margin-bottom: rem(24px);
  }

  & > button {
    position: absolute;
    bottom: 32px;
  }
}

.contentInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.alertPix {
  border-radius: rem(16px);
  padding: rem(16px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: rem(8px);
  background-color: color(pallete, tertiary);

  & > span {
    width: 24px;
    height: 24px;
    border: 2px solid color(text, primary) !important;
    color: color(text, primary) !important;
    opacity: 1;
    font-weight: 700;
  }

  & > p {
    flex: 1;
    font-weight: 400;
    font-size: rem(16px);
    line-height: 130%;
    color: color(text, primary);
  }
}
