@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  &__label {
    font-size: rem(16px);
    font-weight: 500;
    color: color(text, primary);
  }
  
  .has-error {
    border: 1px solid color(accent, danger) !important;
  }

  .select-input {
    width: 100%;
    height: 54px;
    background: color(neutrals, 002);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid color(neutrals, 002);
    height: 54px;
    color: color(neutrals, 004);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0;

    &::placeholder {
      color: color(neutrals, 004);
    }
  }

  &__error {
    color: color(accent, danger);
    font-size: 0.875rem;
  }
}
