@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  &__error {
    color: color(accent, danger);
    font-size: 0.875rem;
  }
}

.radio-option {
  width: 100%;
  height: 64px;
  background: color(neutrals, 002);
  position: relative;
  padding: rem(16px);
  border: 1px solid color(neutrals, 002);
  border-radius: 16px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(16px);

  input {
    display: none;
  }

  &:hover {
    border: 1px solid color(pallete, primary);
  }

  .radio-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid color(neutrals, 004);
    position: relative;

    &.selected {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid color(pallete, primary);

      &::before {
        content: '';
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: color(pallete, primary);
      }
    }
  }

  .team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(16px);

    &__athleteProfile {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    &__athleteName {
      font-weight: 600;
      font-size: rem(16px);
      line-height: 130%;
      color: color(text, primary);

      @include respond-to('md') {
        font-size: rem(20px);
      }
    }
    &__athleteId {
      font-weight: 400;
      font-size: rem(16px);
      line-height: 130%;
      color: color(neutrals, 004);
    }
  }
}
