@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__headers {
    display: flex;
    border-bottom: 2px solid #bfbfbf;

    width: 100%;
    max-width: 100vw;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @include respond-to('md') {
      max-width: none;
      overflow-x: unset !important;
    }
  }

  &__tab {
    padding: 1.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #bfbfbf;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &--active {
      color: #dae200;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        background-color: #dae200;
      }
    }

    &:not(&--active):hover {
      color: #ffffff;
    }
  }

  &__content {
    margin-top: 1rem;
  }
}
