@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.team {
  max-width: 600px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include respond-to('md') {
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: rem(24px);
    line-height: 130%;
    text-align: center;
    color: color(text, primary);
    margin-bottom: rem(8px);

    @include respond-to('md') {
      font-size: rem(40px);
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: rem(18px);
    line-height: 130%;
    text-align: center;
    color: color(text, secondary);
    margin-bottom: rem(32px);

    @include respond-to('md') {
      font-size: rem(24px);
    }
  }

  &__athleteForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    list-style: none;
    margin: rem(24px) 0 rem(32px);

    & > button {
      margin-top: rem(24px);
      width: 100%;
    }
  }

  &__athleteItem {
    width: 100%;
    padding: rem(16px) rem(24px);
    border-radius: rem(16px);
    background: color(neutrals, 002);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(24px);
  }

  &__athleteInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(16px);
  }

  &__athleteProfile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__athleteName {
    font-weight: 600;
    font-size: rem(16px);
    line-height: 130%;
    color: color(text, primary);

    @include respond-to('md') {
      font-size: rem(20px);
    }
  }
  &__athleteId {
    font-weight: 400;
    font-size: rem(16px);
    line-height: 130%;
    color: color(neutrals, 004);
  }
}
