@use 'styles/abstracts/variables' as *;
@use 'styles/abstracts/breakpoints';
@use 'styles/abstracts/mixins';
@use 'styles/abstracts/functions' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; // 16px base
  line-height: 1.5;
}

body {
  font-family:
    var(--font-figtree),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  color: color(text, primary);
  background-color: color(background, primary);
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
