@use 'styles/abstracts/functions' as *;
@use 'styles/abstracts/breakpoints' as *;

.logout-layout {
  &__main {
    padding-top: rem(70px);
    min-height: 100vh;
  }

  @include respond-to('md') {
    &__main {
      padding-top: rem(100px);
    }
  }
}
